### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage reports
.cache
.coverage
.html
.idea
.pylint.out
.test.log
ctrl-results.xml

# Build
dist/
build/
*.egg-info
MANIFEST
